/* organize this better/make sure to understand what and why you are applying something */
/* id=#  class=.  html=red color */

#app {
   display:flex;
   flex-wrap:wrap;
   justify-content: space-evenly;
   row-gap: 50px;

}

body {
    background-color:black;
}

#title {
    text-align: center;
}

#cats {
    background-color: aqua;

}

#dogs {
background-color: green;

}

#dinos {
    background-color: yellow;
}

#card-footer {
    text-align: center;
}

.card-text {
    background-color: gray;
    text-align: center;
    border: 10px;
}

#type {
    border: 10px;
}

.cardFooter {
    text-align: center;
    
}

form {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
}

.typeBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    
}

.btnAdd {
    background-color: blue;
}

h5 {
    text-align: center;
}

.image-thumbnail {
    width:300px ;
    height: 300px;
    display: flex;
    justify-content: center;
  align-items: center;
                                       
}

.specialSkill {
    text-align: center;
}

.color {
    text-align: center;
}

.btn-danger {
    margin: 50px;
    text-align: center;


}

.card-body {
text-align: center;
   
}

.cat-Footer {
    background-color: aqua;
}

.dog-Footer {
    background-color: green;

}

.dino-Footer {
    background-color: yellow;
}
