#app {
   display:flex;
   flex-wrap:wrap;
   justify-content: space-evenly;
   row-gap: 50px;

}

button {
    background-color: blue;
}


.btn {
    background-color: blue;
    display:flex;
 justify-content: center;


    
}

#cats {
    background-color: aqua;

}

#dogs {
background-color: green;

}

#dinos {
    background-color: yellow;
}

.card {
    text-align: center;
    

}


.submit {
    background-color: crimson;

}

.card-text {
    background-color: gray;
}

#type {
    border: 10px;
}
